<!DOCTYPE html>
<html>
    <head>
        <title>Data Lazy</title>
        <link rel="stylesheet" href="/app.css">
    </head>

    <body class="site">
        <header>
            <h3 class="title">Datalazy</h3>
        </header>
        <div class="content">
            <nav>
                <ul class="nav-list">
                    <h3>Links for test data</h3>
                    {% for link in links %}
                    <li /><a href="{{ link.path }}">{{ link.title }}</a>
                    {% endfor %}
                </ul>
            </nav>
            <main>
                <h2>{% block title %}{% endblock %}</h2>
                <div>{% block content %}{% endblock %}</div>
            </main>
        </div>
        <footer>
            <p class="copyright">
                <a href="https://ikhsan.me">ikhsan.me</a> &copy; 2017
            </p>
        </footer>
    </body>
</html>
