<!DOCTYPE html>
<html>
    <head>
        <title>Data Lazy</title>
        <link rel="stylesheet" href="/app.css">
        <meta name="viewport" content="width=device-width" />
        <meta charset="UTF-8">
    </head>

    <body class="site">
        <header>
            <h3 class="title"><a href="/">SK Datalazy</a></h3>
        </header>
        <div class="content">
            <nav>
                <ul class="nav-list">
                    {% for key,value in links %}
                        <h3>{{ key }}</h3>
                        {% for link in value %}
                            <li /><a href="{{ link.path }}">{{ link.title }}</a>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </nav>
            <main>
                <h2 class="title">{% block title %}{% endblock %}</h2>
                <div>{% block content %}{% endblock %}</div>
            </main>
        </div>
        <footer>
            <p class="copyright">
                <a href="https://github.com/ikhsan/datalazy">Fork me</a> &copy; 2017
            </p>
        </footer>
    </body>
</html>
